@model Clinic.Models.AppointmentDone

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>AppointmentDone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosisId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosisId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentPlaced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentPlaced)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AppointmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
