@model IEnumerable<Clinic.Models.Category>

@{
    ViewData["Title"] = "Категории";
}

<h1>Список категорий</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить категорию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                Название
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-primary">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-primary">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-primary">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
